.container {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.commentContainer {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  align-items: flex-end;
  padding: 10px 15px;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  position: relative;
}

.commentTimestamp {
  margin-top: 7px;
  font-size: 12px;
}

.messageTimestamp {
  text-align: center;
}

.artistComment {
  align-self: flex-start;
  background-color: white;
  color: black;
}

.userComment {
  align-self: flex-end;
  background-color: var(--brand-color);
  color: white;
}

.deleteComment {
  color: rgb(150, 150, 150);
  font-size: 10px;
  align-self: flex-end;
  margin-top: 3px;
  text-decoration: none;
}

.likedComment {
  position: absolute;
  bottom: -9px;
  left: -7px;
}
