.container {
  width: 40%;
  margin: 0 auto;
}

.topContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.letterTitle {
  margin-bottom: 20px;
}

.letterText {
  font-size: 16px;
}
