.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 7%;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input {
  margin-top: 5px;
  font-size: 16px;
}

.submitButton {
  cursor: pointer;
  width: 100%;
  border-radius: var(--border-radius);
  color: white;
  background-color: var(--brand-color);
  border: none;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.submitButton:hover {
  background-color: #e595d1;
}

.submitButton:disabled {
  background-color: var(--primary-color);
  cursor: not-allowed;
}

.errorMessage {
  color: rgb(220, 116, 116);
}

.disclaimer {
  font-style: italic;
  font-size: 10px;
  text-align: center;
}

.notEnoughPoints {
  text-align: center;
  margin: 10px 0;
  font-size: 12px;
}
