.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.messageContent {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: var(--border-radius);
}

.text {
  margin-bottom: 10px;
}

.messageTimestamp {
  margin: 15px 0;
  text-align: center;
}

.lineBreak {
  margin-bottom: 5;
}

.commentButton {
  align-self: center;
  margin-bottom: 20px;
}

.videoDisclaimer {
  font-style: italic;
}

.pictureDisclaimer {
  margin-top: 50px;
}
