.list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 15px;
  border-bottom: 1px dotted var(--primary-color);
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
}

.item {
  display: inline-block;
  margin-right: 15px;
  text-decoration: none;
}

.button {
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  color: var(--primary-color);
}

.button:hover {
  background-color: var(--brand-color);
  color: white;
}

.backButton {
  padding: 5px 20px;
  background-color: var(--brand-color);
  color: white;
}

.backButton:hover {
  background-color: var(--primary-color);
}
